.u-info-icon {
    background:#1e6bff; 
    border-radius:50%; 
    color: #fff; 
    border: none;
    cursor: pointer;
}

.u-info-icon:hover {
    background: #1554cc
}

.u-modal-alert {
    color: red;
    height: 40px;
    width: 40px;
}

.u-modal-ok {
    color: #1e6bff;
    height: 40px;
    width: 40px;
}