.u-pseudotable {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.u-pseudotable li {
  display: flex;
  border-bottom: 1px solid #bdbdbd;
  min-height: 3.5rem;
}

.u-pseudotable-header {
    align-items: end;
}

.u-pseudotable li.u-status-true {
    opacity: 0.6;
    background: #e6e6e6;
}

.u-pseudotable .u-cell {
    display: flex;
    flex: 1 1 200px;
    padding: .5rem;
}

.u-pseudotable .u-cell-1 {
    min-width: 80px;
}

.u-pseudotable .u-cell-2 {
    min-width: 50px;
    justify-content: center;
}

.u-pseudotable .u-cell-3 {
    min-width: 60px;
}

.u-pseudotable .u-cell-4 {
    min-width: 50px;
}

.u-pseudotable .u-cell-5 {
    min-width: 80px;
}

.u-filters {
    padding: 1rem;
}

@media (min-width: 450px) {
  .u-filters  {
    padding: 0rem;
  }
}

